<div class="topnav" style="margin-bottom: 50px">
    <a class="active" href="/">Home</a>

    <a href="../o_projektu">O projektu</a>
    <div class="login-container">
        <form action= "/login" method="post">
            <input type="text" id="ime" name="ime" placeholder="Ime">
            <input type="text"  id="prezime" name="prezime" placeholder="Prezime">
            <input type="password" id="sifra" name="sifra" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
</div>