<div class="topnav" style="margin-bottom: 50px">
    <a class="active" href="/admin">Home</a>

    <a href="oProjektu.ejs">O projektu</a>
    <a href="/admin/predavaci">Predavači</a>
    <a href="/admin/predavanja">Predavanja</a>
    <a href="/admin/zabranjene_rijeci">Zabranjene riječi</a>


</div>